<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои заказы</title>
</head>
<body>
<h3>Мои заказы</h3>
<div th:each="order : ${orders}">
    <h3 th:text="'Заказ №' + ${order.getNumber()}"></h3>
    <img th:src="'/img/' + ${order.getProduct().getImageList()[0].getFileName()}" width="300px">
    <p th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
    <p th:text="'Количество: ' + ${order.getCount()}"></p>
    <p th:text="'Цена: ' + ${order.getPrice()}"></p>
    <p th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-YYYY')}"></p>
    <p th:text="'Статус заказа: ' + ${order.getStatus()}"></p>
</div>
</body>
</html>